<a href="https://colab.research.google.com/github/HafizahBaha/SMS3330Portfolio/blob/main/Part_I_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1: Introduction to R

## 1.1 Expression

For example: numerical calculation

In [ ]:
2.33+10
4.69*2/0.3
9.3+2.3/0.4

In [ ]:
#Exercise 1.1: Create one expression

## 1.2 Creating new variables

Variables are,in their simplest forms,like mathematical variables:they contain
values.You can assign values using either = or <-.

In [ ]:
a1=2.33+10
data=4.69*2/0.3

my_observation<-9.3+2.3/0.4

In [ ]:
a1
data
my_observation

In [ ]:
#Exercise 1.2: Create new variable for exercise 1.1

## 1.3 Data Types and Type Conversion

**Numeric and Character**

In [ ]:
#value
height <- 160.6
breakfast <- "No"

In [ ]:
#data type
is.numeric(height)
is.character(breakfast)

In [ ]:
# Converting type

height <- c("180", " 156 ", "166")
is.numeric(height)

In [ ]:
height.1 <- as.numeric(height)
height.1
is.numeric(height.1)

In [ ]:
#Exercise 1.3
#change the data into numeric type

breakfastcost=c("10.60","6.80","3.20")

## 1.4 Vectors
A vector is a basic data structure which plays an important role in R programming. In R, a sequence of elements which share the same data type is known as vector. A vector supports logical, integer, double, character, complex, or raw data type.

In [ ]:
# Example
v1=c(30,50,100)
v2=c(45,66,29)

In [ ]:
v1
v2

In [ ]:
#Aritmetic operation

p1=v1+v2
p1

In [ ]:
#Exercise 1.4
#create 2 vectors for a1 and a2, then calculate a2-a1

## 1.5 Matrices

A matrix is a two dimensional data set with columns
and rows.

A column is a vertical representation of data, while a row is a horizontal representation of data.

A matrix can be created with the matrix() function. Specify the nrow and ncol parameters to get the amount of rows and columns:

In [ ]:
#Create Matrix
M <- matrix(c(3:14), nrow = 4, ncol = 3)
print(M)

In [ ]:
# Elements are arranged sequentially by row.
M <- matrix(c(3:14), nrow = 4, byrow = TRUE)
print(M)

In [ ]:
# Elements are arranged sequentially by column.
N <- matrix(c(3:14), nrow = 4, byrow = FALSE)
print(N)

In [ ]:
# Define the column and row names.
rownames = c("row1", "row2", "row3", "row4")
colnames = c("col1", "col2", "col3")

P <- matrix(c(3:14), nrow = 4, byrow = TRUE, dimnames = list(rownames, colnames))
print(P)

### 1.5.1 Extract the elements

In [ ]:
#Extract the elements

#by row
M[3,]

#by column
N[,2]

#specify the location
P[2,2]

### 1.5.2 Sum and average across the columns and rows

function: *colSums(), rowSums(), colMeans() or rowMeans()*

In [ ]:
print(N)
colSums(N)

In [ ]:
print(N)
rowSums(N)

In [ ]:
## Exercise 1.5 Use colMeans() or rowMeans() for M matrix

## 1.6 Lists
A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

To create a list, use the list() function:

In [ ]:
# List of strings
L1 <- list("grape", "banana", "mango","papaya","guava")

# Print the list
L1

In [ ]:
#Access Lists
L1[3]

In [ ]:
#Change Item Value
L1 <- list("grape", "banana", "mango","papaya","guava")
L1[2] <- "blackcurrant"

# Print the updated list
L1

In [ ]:
#Add List Items
L1 <- list("grape", "banana", "mango","papaya","guava")

L2<-append(L1, "orange")

L2

In [ ]:
## Exercise 1.6
## Replace guava with rambutan and add jackfruit in L2

## 1.7 Data Frames

Data Frames are data displayed in a format as a table.

Data Frames can have different types of data inside it. While the first column can be character, the second and third can be numeric or logical. However, each column should have the same type of data.

Use the data.frame() function to create a data frame:

In [ ]:
# Example
v1 = c(1, 2, 3)
v2 = c(3, 4, 5)
df = data.frame(v1, v2)
df

In [ ]:
# Example
#Create a data frame
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Print the data frame
Data_Frame

In [ ]:
#Summarize the Data
summary(Data_Frame)

In [ ]:
#Exercise 1.7: Create a data frame as depicted in Figure.

![dataframe exercise.png]()

# Chapter 2: Data Transformation

## 2.1 Data

In [ ]:
# Create a sample data frame
df <- data.frame(id = c(1,2,3,4,5),
                 group = c("A","B","A","B","A"),
                 value = c(30,23,46,48,58))
df

## 2.2 Group_by

In [ ]:
install.packages("tidyverse")

In [ ]:
library(tidyverse)

In [ ]:
# Group by 'group' column and summarize the mean of 'value'
df %>%
  group_by(group) %>%
  summarize(mean_value = mean(value))

In [ ]:
# Filter rows where 'value' is greater than 45
df %>%
  filter(value > 45)

## 2.3 Arrange

In [ ]:
# Arrange the data frame by 'value' in descending order
df %>%
  arrange(desc(value))

In [ ]:
# Arrange the data frame by 'value' in ascending order
df %>%
  arrange((value))

## 2.4 Rename

In [ ]:
# Rename the 'value' column to 'new_value'
df %>%
  rename(new_value = value)

## 2.5 Mutate

In [ ]:
# Mutate a new column 'squared_value' with the square of 'value'
df %>%
  mutate(squared_value = value^2)

## 2.6 Summarize

In [ ]:
# Summarize the total 'value' for each 'group'
df %>%
  group_by(group) %>%
  summarize(total_value = sum(value))

In [ ]:
## Data
# Create a sample data frame
stock_prices <- data.frame(date = as.Date(c("2021-01-01", "2021-01-02", "2021-01-03", "2021-01-04", "2021-01-05")),
                           stock = c("AAPL", "AAPL", "GOOG", "GOOG", "AAPL"),
                           price = c(100, 110, 120, 130, 140),
                           volume = c(1000, 800, 600, 400, 200))
stock_prices



*   Group by 'stock' column and summarize the average price and volume
*   Filter rows where the price is greater than 120
*   Arrange the data frame by date in ascending order
*   Rename the 'price' column to 'closing_price'
*   Mutate a new column 'price_change' as the difference between current and previous price
*   Summarize the total volume for each stock

In [ ]:
##Group_by
# Group by 'stock' column and summarize the average price and volume
stock_prices %>%
  group_by(stock) %>%
  summarize(average_price = mean(price),
            average_volume = mean(volume))

In [ ]:
##Filter
# Filter rows where the price is greater than 120
stock_prices %>%
  filter(price > 120)

In [ ]:
## Arrange
# Arrange the data frame by date in ascending order
stock_prices %>%
  arrange(date)

In [ ]:
## Rename
# Rename the 'price' column to 'closing_price'
stock_prices %>%
  rename(closing_price = price)

In [ ]:
##Mutate
# Mutate a new column 'price_change' as the difference between current and previous price
stock_prices %>%
  mutate(price_change = price - lag(price))

In [ ]:
## Summarize
# Summarize the total volume for each stock
stock_prices %>%
  group_by(stock) %>%
  summarize(total_volume = sum(volume))